@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


* {
    font-family: Outfit;
}

select, input, textarea {
    border: 1px solid #c2c2c2;
    outline-color: #313337;
    border-radius: 4px;
}
.active {
    background-color: #ffceab;
    border-color: #313337;
}