@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


* {
    font-family: Outfit;
}
.active {
    background-color: #ffceab;
    border-color: #435c7c;
}